@import '../variables/variables.scss';

.footer{

color: $text-color;   
background: $primary-color;
width: 100%;   
padding: 5rem;

&__foot{
       
display: grid;
grid-template-columns: repeat(3 , minmax(min-content, 1fr));
grid-gap: 1rem;
margin: 0 auto;
width: 90%;

&_links{
    width: 100%;
     padding: 1rem;
    &_container{
        width: 30%;
        padding: 1rem;
        margin: 0 auto;
        &_ul{
            &-li{
            list-style: none;
              &-link{
                  color: $text-color;
                  font-size: 1.5rem;
                  text-decoration: none;
              }
            }
        }//end of the ul
    }//end of the container in the links
}//end of the links div
}//end of the foot
}//end of the footer