@import '../variables/variables.scss';
/*This styles the titles h1 or considered bigTtiles in this case our menu appetizzers 
and also the sides title */


.titleMenu{
    text-decoration: none;
    font-size: 3rem;
    color: $text-color;
}

.hoverContainer{
    height: 100%;
    width: 100%;
    background: rgba($secondary-color , 0.7);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    
    &:hover{
        opacity: 1;
        cursor: pointer;   
    };
}
