@import '../variables/variables.scss';
/*This styles the titles h1 or considered bigTtiles in this case our menu appetizzers 
and also the sides title */
.mainTitle , .bigTitle{
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 1000;
    text-align: center;
     padding: 1rem;
     &:not(:last-child){
         margin-bottom: 1rem;
     }
}
.mainTitle{
    color: black;
}
.bigTitle{
    width: 40%;
    margin: 0 auto;
    position: absolute;
    top: -4%;
    left: 50%;
    transform: translate(-50%);
    background: $primary-light;
    border-radius: 1rem;
}

//This a style for the tables in the menu
.tableDisplay{

    padding: 1rem;
    width: 100%;
   

    &__body{
        &--row{
            display: block;
            width: 100%;
            position: relative;
      
            
           &-data{
               font-size: 2rem;
               text-transform: uppercase;

               &:last-child{
               position: absolute;
               top: 0;
               right: 0;
               font-size: 2rem;
               }
              
   

               &-description{
                  display: block;
                  font-size: 1.5rem ;
               }
               
            }//end of the table row data
        }//end of the table row
    }//end of th table body

}//end of the table display

.titleMenu{
    text-decoration: none;
    font-size: 3rem;
    color: $text-color;
}

.hoverContainer{
    height: 100%;
    width: 100%;
    background: rgba($secondary-color , 0.7);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    
    &:hover{
        opacity: 1;
        cursor: pointer;   
    };
}
